@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 10px;
}

::-webkit-scrollbar-corner {
  border: none;
  background: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(87 79 77);
  border-radius: 3px;
  cursor: move;
}

::-webkit-scrollbar-thumb:hover {
  background: #272221;
  max-height: 10px;
}

.font-baloo {
  font-family: 'Baloo 2', cursive;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.intro-container {
  background: url('../assets/background.png') no-repeat center, linear-gradient(0deg, #ffffff 0%,#fafafa 100%);
  background-size: cover;
}
